# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
build/
dist/
*.build/
*.dist/

# Logs & temp
*.log
*.bak
*.tmp
nuitka-crash-report.xml

# Configs & internal settings (Never push to GitHub)
*.json

# Closed-source project code & build specs (Strict leak protection)
*.py
*.xml
*.txt
requirements.txt
build_nuitka.py

# Media files (Only keep official README banners and icon)
*.png
*.jpg
*.ico
*.mp4
!icon.webp
!Cel_Banner_Head_CelAS_High_compressed.jpeg
!Cel_Banner_Footer_Long_CelAS_compressed.jpeg
